:root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  margin: 0;
}
a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
p {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(163, 233, 178);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
li {
  list-style-type: none;
}
input {
  height: 30px;
  font-size: large;
  padding-left: 5px;
  margin-left: 15px;
  border-radius: 10px;
}
button:disabled {
  color: black;
  background-color: cadetblue;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  font-size: 12px;
  animation: ErrorReveal 0.4s ease-in-out;
  transition: 0.4s;
}

@keyframes ErrorReveal {
  0% {transform: translateY(-30px);}  
  50% {transform: translateY(30px);}  
  100% {transform: translateY(0);}
}